<html>
<head>
    <title>jQuery插件-城市字母分类选择插件</title>
##    <link href="/css/bootstrap.min.css" rel="stylesheet">
##    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
##    <link href="/css/theme.css" rel="stylesheet">

    <!-- ** Javascript ** -->
    <script type="text/javascript" src="/js/highcharts/highcharts.js"></script>

    <!-- jQuery插件 -->
    <link href="/css/city/city-select.css" rel="stylesheet">
    <script type="text/javascript" src="/js/city/jquery-1.10.2.js"></script>
##    <script type="text/javascript" src="/js/map_01/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/js/city/citydata.min.js"></script>
    <script type="text/javascript" src="/js/city/citySelect-1.0.3.js"></script>
</head>
<body>
##    #parse("navbar.vm")


    <h2>城市多选</h2>
    <div class="city-select" id="multi-select-1"></div><!-- end .city-select -->

    <div class="info">
        <h3>市级数据</h3>
        <p>whole: false</p>
    </div>
    <div class="info">
        <h3>开启多选功能</h3>
        <p>multiSelect: true</p>
    </div>
    <div class="info">
        <h3>设置最多可选择的个数</h3>
        <p>multiMaximum: 6</p>
    </div>
    <div class="info">
        <h3>关闭搜索功能</h3>
        <p>search: false</p>
    </div>
    <div class="info">
        <h3>设置城市默认</h3>
        <p>MulticitySelect1.setCityVal('北京市, 天津市, 上海市, 广州市, 长沙市, 杭州市');</p>
    </div>


<script type="text/javascript">
    $(function() {
        // 多选
        var MulticitySelect1 = $('#multi-select-1').citySelect({
            dataJson: cityData,
            multiSelect: true,
            multiMaximum: 10,
            search: false,
            hotCity: ['北京市', '上海市', '广州市', '深圳市', '南京市', '杭州市', '天津市', '重庆市', '成都市', '青岛市', '苏州市', '无锡市', '常州市', '温州市', '武汉市', '长沙市', '石家庄市', '南昌市', '三亚市', '合肥市'],
            onInit: function () {
                console.log(this)
            },
            onForbid: function () {
                console.log(this)
            },
            onTabsAfter: function (target) {
                console.log(event)
            },
            onCallerAfter: function (target, values) {
                console.log(JSON.stringify(values))
            }
        });

        // 多选设置城市接口
        MulticitySelect1.setCityVal('北京市, 天津市, 上海市, 广州市, 长沙市, 杭州市');

    });
</script>


##    #parse("foot.vm")
</body>
</html>