<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/css/theme.css" rel="stylesheet">

<!-- ** Javascript ** -->
<script type="text/javascript" src="/js/map_01/highmaps.js"></script>
<script type="text/javascript" src="/js/map_01/jquery-1.8.3.min.js"></script>