<!-- 列表 -->
<div style="padding:5px;line-height:150%">
    <div class="t-list">
        <h1>总停车次数: 1000000</h1>
    </div>
    <div class="t-list">
        <h1>当前空余泊位数: 1000000</h1>
    </div>
    <div class="t-list"><a href="http://www.jeasyui.com/tutorial/layout/accordion.php" target="_blank">Create Accordion</a></div>
    <div class="t-list"><a href="http://www.jeasyui.com/tutorial/layout/tabs.php" target="_blank">Create Tabs</a></div>
    <div class="t-list"><a href="http://www.jeasyui.com/tutorial/layout/tabs2.php" target="_blank">Dynamically add tabs</a></div>
    <div class="t-list"><a href="http://www.jeasyui.com/tutorial/layout/panel2.php" target="_blank">Create XP style left panel</a></div>
</div>
